.DisplayItems {
    margin: 10px;
    text-align: center;
}

.leftSide {
    color: #000;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.rightSide {
    color: #000;
    
    display: inline-block;
    vertical-align: middle;
}