.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.buttons {
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

#name-input,
#title-input,
#notes-input {
  padding: 5px;
}

.edit_data {
  padding-left: 10px;
}

.users {
  text-align: center;
  padding: 3px;
}